<div class="container d-flex flex-column justify-content-center align-items-center">
  <div class="col-lg-6 col-md-10 mt-5">
    <div class="row text-center">
      <div *ngIf="isQrGenerated; else elseBlock">
        <app-qrcode [qrData]="qrData"></app-qrcode>
      </div>
      <ng-template #elseBlock>
        <app-qr-placeholder ></app-qr-placeholder>
      </ng-template>
    </div>
  </div>
  <div class="col-lg-6 col-md-10 mt-5 border p-5">
    <form class="row g-3" #qrForm="ngForm" (ngSubmit)="submit(qrForm)" novalidate>
      <div class="col-12">
        <label for="qrdata" class="form-label">Text Data to encode in QR</label>
        <input type="text" class="form-control" id="qrdata" name="qrdata" aria-describedby="qrDataHelp" #qrdata="ngModel"
          ngModel [class.is-invalid]="qrdata.touched && qrdata.invalid" required />
        <div id="qrDataHelp" class="form-text text-danger" [class.d-none]="!qrdata.touched || qrdata.valid">Enter some data to generate QR code.</div>
      </div>
      <div class="col-10 text-center">
        <button class="btn btn-primary" [disabled]="!qrForm.valid" type="submit">Generate QR Code</button>
      </div>
    </form>
  </div>
</div>