<div class="container mt-5">
    <div class="row justify-content-evenly align-items-center">
        <div id="scanner-modal" class="order-1 order-lg-2 container col-10 col-6 col-lg-6 border visible-false"></div>
        <div class="order-2 order-lg-1 col-7 col-md-5 col-lg-3 text-center my-5 my-lg-1">
            <button class="btn btn-primary mb-5 my-auto" (click)="scanQR()">Scan scanQR</button>
            <h3>Scanned Result:</h3>
            <div class="border scaned-result">
                <p>{{scannedResult}}</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
</div>